.idea/workspace.xml
.idea/vcs.xml
.idea/msc_project.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/msc_project.iml
.idea/vcs.xml
*.xml
